body {
  background-color: #121212;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

#header {
  background-color: #dd1111;
  color: #fff;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.toolbar {
  float: left;
  display: block;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-style: italic;
}

.toolbar:hover {
  background-color: #333333;
  border-radius: 15px 50px 30px 5px;
}

.a:link, .a:visited {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

.container {
  padding: 1rem 1rem 20rem;
}

.question {
  padding: 1rem 0rem;
}

.opt {
  width: 30%;
  height: 3.5rem;
  border: 0.1rem solid;
  text-align: center;
  border-radius: 0.75rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button, input[type="submit"] {
  background-color: #da2828;
  border: 1px solid #121212;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
}

#a1, #a2, #a3 {
  padding: 1rem;
}


footer {
  position: absolute;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  text-align: center;
  background: #333333;
}

#footerlogo {
  position: sticky;
  max-width: 5rem;
  float: right;
}